@model AccountingOfVehicles.Models.StolenCarViewModel
@addTagHelper "AccountingOfVehicles.TagHelpers.PageLinkTagHelper, AccountingOfVehicles"
@{
    ViewData["Title"] = "Автомобили в угоне";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style type="text/css">
    th, td {
        padding-right: 15px;
    }
    label {
        margin: 10px;
    }
</style>

<br />
@if (SignInManager.IsSignedIn(User))
{
<form class="form-inline" method="get">
    <label>Выберите марку автомобиля:</label>
    <select name="brandName" class="form-control">
        @foreach (String br in Model.StolenCarsFilters.BrandNames)
        {
            if (br == Model.StolenCarsFilters.brandName)
            {
                <option selected value="@br">@br</option>
            }
            else
            {
                <option value="@br">@br</option>}
        }
    </select>
    <label>Выберите владельца:</label>
    <select name="ownerName" class="form-control">
        @foreach (String br in Model.StolenCarsFilters.OwnerNames)
        {
            if (br == Model.StolenCarsFilters.ownerName)
            {
                <option selected value="@br">@br</option>
            }
            else
            {
                <option value="@br">@br</option>}
        }
    </select>
    <br />
    <label>Выберите номер двигателя:</label>
    <select name="carNumberOfMotor" class="form-control">
        @foreach (String br in Model.StolenCarsFilters.CarNumbersOfMotor)
        {
            if (br == Model.StolenCarsFilters.carNumberOfMotor)
            {
                <option selected value="@br">@br</option>
            }
            else
            {
                <option value="@br">@br</option>}
        }
    </select>
    <label>Дата угона:  с</label>
    <input type="date" name="startRegistrationDate" value="@Model.StolenCarsFilters.startRegistrationDate" class="form-control" />
    <label>по</label>
    <input type="date" name="endRegistrationDate" value="@Model.StolenCarsFilters.endRegistrationDate" class="form-control" />
    <br />
    <label>
        @{
        if (Model.StolenCarsFilters.isFind == "on")
        {
            <input type="checkbox" checked name="isFind" class="checkbox" />
    }
    else
    {
        <input type="checkbox" name="isFind" class="checkbox" />
}
        }
        Автомобиль в розыске
    </label>
    <br />
    <div style="width:100px;padding:10px; padding-left:30px;"><input type="submit" value="Показать" class="btn btn-default" /></div>
</form>
}

<table style="margin:20px;">
    <caption>Автомобили в угоне</caption>

    <tr>
        <th>Код автомобиля в угоне</th>
        <th>Регистрационный номер автомобиля</th>
        <th>ФИО владельца</th>
        <th>Сотрудник, ведущий дело об угоне</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var stolenCar in Model.StolenCars)
    {
    <tr>
        <td>@stolenCar.StolenCarID</td>
        <td>@stolenCar.Car.CarRegistrationNumber</td>
        <td>@stolenCar.Car.Owner.OwnerName</td>
        <td style="padding-right:25px">@stolenCar.Employee.EmployeeName</td>
        @if (SignInManager.IsSignedIn(User))
            {
        <td style="padding-right:10px"><a href="~/StolenCars/Edit/@stolenCar.StolenCarID">Изменить</a></td>
        <td style="padding-right:10px"><a href="~/StolenCars/Delete/@stolenCar.StolenCarID">Удалить</a></td>
        <td style="padding-right:10px"><a href="~/StolenCars/More/@stolenCar.StolenCarID">Подробнее</a></td>
            }
    </tr>
    }

    <tr>
        @if (SignInManager.IsSignedIn(User))
        {
        <td style="padding:10px; padding-left:30px"><a asp-action="Create" class="btn btn-primary">Добавить</a></td>
        }
    </tr>
</table>

<page-link page-model="Model.PageViewModel" page-action="StolenCars"></page-link>

